{% extends 'base.html.twig' %}

{% block title %}Inscription d'hébergement sur Record.com{% endblock %}

{% block body %}
    <section>
        <h1>Plan tarifaire standard</h1>
    </section>
{% endblock %}