{% extends 'base.html.twig' %}

{% block title %}Inscription d'hébergement sur Record.com{% endblock %}

{% block body %}
    <section>
        <h1>Inscrivez votre hébergement sur Record.com et commencez à recevoir des clients en un rien de temps</h1>

        <p>Pour commencer, choisissez le type d'établissement que vous souhaitez inscrire sur Record.com</p>

        <div>
            <div>
                <h3>Appartement</h3>

                <p>
                    Hébergement meublé avec cuisine que les clients peuvent louer intégralement
                </p>

                <a href="#">Inscrivez votre établissement</a>
            </div>

            <div>
                <h3>Maison</h3>

                <p>
                    Hébergement s'apparentant à des appartements, des maisons de vacances, des villas, etc
                </p>

                <a href="#">Inscrivez votre appartement</a>
            </div>

            <div>
                <h3>Hôtel, chambre d'hôte et bien plus</h3>

                <p>
                    Établissement s'apparentant à des hotels B&B/chambre d'hôtes, maison d'hôtes, auberges de jeunesse, appart'hôtels et bien plus encore.
                </p>

                <a href="#">Inscrivez votre appartement</a>
            </div>

            <div>
                <h3>Autres hébergements</h3>

                <p>
                    Hébergement s'apparentant à des bateaux, des campings, des tentes de luxes et bien plus encore.
                </p>

                <a href="#">Inscrivez votre appartement</a>
            </div>
        </div>
    </section>
{% endblock %}