{% extends 'base.html.twig' %}

{% block title %}Inscrivez un hébergement sur Record.com{% endblock %}

{% block body %}
    <section>
        <h1>Quelles langues parlez-vous ?</h1>
    </section>
{% endblock %}