{% extends 'base.html.twig' %}

{% block title %}Inscrivez votre appartement{% endblock %}

{% block body %}
    <div>
        <h1>Appartement : combien allez-vous en inscrire ?</h1>

        {{ form_start(apartmentChoiceForm, {'attr' : {'novalidate' : 'novalidate'}}) }}
            <div>
                {{ form_errors(apartmentChoiceForm.numberOfApartment) }}
                {{ form_widget(apartmentChoiceForm.numberOfApartment) }}
            </div>

            <button type="submit">Continuer</button>
        {{ form_end(apartmentChoiceForm) }}
    </div>
{% endblock %}