{% extends 'base.html.twig' %}

{% block title %}Inscrivez un  hébergement sur Record.com {% endblock %}

{% block body %}
    {% if profil is iterable %}
        {% for item in profil %}
            <p>
                {{ item }}
            </p>
        {% endfor %}
    {% endif %}


    <section>
        <h1>Pictures</h1>
    </section>
{% endblock %}