{% extends 'base.html.twig' %}

{% block title %}{# nom de l herbergement ici #}{% endblock %}

{% block body %}
    <section>
        <h1>Record.com</h1>

        <details>
            <summary>{# current housing #}</summary>
        </details>
    </section>
{% endblock %}